
<html lang="en" class="gr__demo_interface_club">
  <head>
    <title>Commercial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  </head>
  <body class="navbar-bottom login-container pace-done">
    <div class="navbar-bottom login-container">
      <div class="navbar navbar-inverse bg-indigo has-shadow">
        <div class="navbar-header">
          <a class="navbar-brand"><img src="/logo-blackline.png" alt=""></a>
        </div>
      </div>
      <div class="page-container">
        <%= flash_messages %>
        <div class="page-content">
          <div class="content-wrapper">
            <%= form_tag sessions_create_path, authenticity_token: true, method: :post, class: "login-form" do %>
              <div class="panel panel-body">
                <div class="text-center">
                  <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                  <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <input type="text" class="form-control" placeholder="Email" name="email"/>
                  <div class="form-control-feedback" style="top: 10px;">
                    <i class="icon-user text-muted"></i>
                  </div>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                  <input type="password" class="form-control" placeholder="Password" name="password" />
                  <div class="form-control-feedback" style="top: 10px;">
                    <i class="icon-lock2 text-muted"></i>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn bg-pink-400 btn-block">Sign in <i class="icon-circle-right2 position-right"></i></button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>