<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Due Date</th>
      <th>Status</th>
      <th style="text-align: center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @checklists.each do |checklist| %>
      <tr>
        <td><%= checklist.name %></td>
        <td><%= checklist.checklist_type.titleize %></td>
        <td><%= checklist.due_date.strftime("%m/%d/%Y") %></td>
        <td>
          <span class="label <%= checklist.pending? ? "label-warning" : "label-success" %>"><%= checklist.status %></span>
        </td>
        <td style="text-align: center">
          <%= link_to edit_advisors_loan_checklist_path(@loan, checklist) do %>
            <i class="icon-pencil3"></i>
          <% end %>
          <%= link_to advisors_loan_checklist_path(@loan, checklist), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="icon-trash-alt color-red"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>