<table class="table table-hover">
  <thead>
    <tr>
      <th>Recipient</th>
      <th>Subject</th>
      <th>Opened</th>
      <th>Clicked</th>
      <th>Sent</th>
    </tr>
  </thead>
  <tbody>
    <% @sent_emails.each do |sent_email| %>
      <tr>
        <td><%= sent_email.receiver  %></td>
        <td><%= sent_email.subject %></td>
        <td><%= sent_email.opened_at ? sent_email.opened_at.strftime("%Y/%m/%d %T") : "" %></td>
        <td><%= sent_email.clicked_at ? sent_email.clicked_at.strftime("%Y/%m/%d %T") : "" %></td>
        <td><%= sent_email.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>