<table class="table table-hover">
  <thead>
    <tr>
      <th>Inviter</th>
      <th>Name</th>
      <th>Email</th>
      <th>Joined At</th>
      <th>Origination Fees</th>
      <th>Bonus</th>
      <th style="text-align: center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @referrals.each do |referral| %>
      <tr>
        <td><%= referral.user.full_name %></td>
        <td><%= referral.name %></td>
        <td><%= referral.email %></td>
        <td><%= referral.joined_at ? referral.joined_at.strftime("%m/%d/%Y %T") : nil %></td>
        <td><%= referral.origination_fees %></td>
        <td><%= referral.bonus %></td>
        <td style="text-align: center">
          <%= link_to edit_admins_invited_referral_path(referral) do %>
            <i class="icon-pencil3"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>