<%= form_for [:admins, @document_type], authenticity_token: true do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :category %>
        <%= f.select :category, DocumentType.categories.keys.map { |key| [key.humanize, DocumentType.categories[key]] }, { prompt: 'Select category' }, class: "form-control" %>
        <%= form_error(@document_type, :category) %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <%= form_error(@document_type, :name) %>
      </div>
    </div>
  </div>

  <div class="form-wizard-actions">
    <%= link_to "Back", admins_document_types_path, class: "btn btn-default legitRipple" %>
    <button class="btn btn-primary legitRipple" type="submit"><%= @document_type.id ? "Update" : "Create" %> <i class="icon-arrow-right14 position-right"></i></button>
  </div>
<% end %>
