<div class="page-content">
  <div class="content-wrapper">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">Document Types</h5>
        <div class="heading-elements">
          <ul class="icons-list">
            <li>
              <%= link_to new_admins_document_type_path do %>
                <i class="icon-plus3"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="datatable-header">
        <%= search_form_for @q, url: admins_document_types_path do |f| %>
          <div class="dataTables_filter">
            <label>
              <%= f.search_field :name_or_category_cont, placeholder: "Type to search...", type: "search" %>
            </label>
          </div>
        <% end %>
      </div>
      <div class="datatable-scroll">
        <div class="table-responsive">
          <%= render "grid" %>
        </div>
      </div>
      <div class="datatable-footer text-center">
        <%= paginate @document_types, :views_prefix => 'admins' %>
      </div>
    </div>
  </div>
</div>
