<!-- Page header -->
  <div class="page-header page-header-inverse bg-indigo">
    <!-- Second navbar -->
    <div class="navbar navbar-inverse navbar-transparent" id="navbar-second">
      <ul class="nav navbar-nav visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-paragraph-justify3"></i></a></li>
      </ul>

      <div class="navbar-collapse collapse" id="navbar-second-toggle">
        <ul class="nav navbar-nav navbar-nav-material">
          <li class="<%= active?(advisors_loans_path) %>">
            <%= link_to "Loans", advisors_loans_path %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-nav-material navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
              <%= current_user.full_name %>
              <span class="visible-xs-inline-block position-right"><%= current_user.full_name %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to sessions_logout_path do %><i class="icon-switch2"></i> Logout<% end %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /second navbar -->
  </div>
  <!-- /page header -->