<div class="sidebar sidebar-main sidebar-default">
  <div class="sidebar-fixed affix-top">
    <div class="sidebar-content">
      <div class="category-title h6">
        <span><%= @loan.property_address %></span>
      </div>
      <div class="sidebar-category sidebar-category-visible">
        <div class="category-title">
          <span class="label label-info"><%= @loan.status.titleize %></span>
        </div>
        <div class="category-content no-padding">
          <ul class="navigation navigation-main navigation-accordion">
            <li class="<%= active?(advisors_loan_overview_path(@loan)) %>">
              <%= link_to advisors_loan_overview_path(@loan) do %>
                <i class="icon-home2"></i>
                <span>Overview</span>
              <% end %>
            </li>
            <li class="<%= active?("documents") %>">
              <%= link_to advisors_loan_documents_path(@loan) do %>
                <i class="icon-file-text2"></i>
                <span>Documents</span>
              <% end %>
            </li>
            <li class="<%= active?("checklists") %>">
              <%= link_to advisors_loan_checklists_path(@loan) do %>
                <i class="icon-clipboard2"></i>
                <span>
                  Checklists

                  <span class="label label-warning">
                    <%= @loan.number_of_pending_checklists %> <span class="icon-x"></span>
                  </span>
                  <span class="label label-success">
                    <%= @loan.number_of_done_checklists %> <span class="icon-check"></span>
                  </span>
                </span>
              <% end %>
              </a>
            </li>
            <li class="<%= active?("quotes") %>">
              <%= link_to advisors_loan_quotes_path(@loan) do %>
                <i class="icon-briefcase"></i>
                <span>Quotes</span>
              <% end %>
            </li>
            <li class="<%= active?(edit_advisors_loan_path(@loan)) %>">
              <%= link_to edit_advisors_loan_path(@loan) do %>
                <i class="icon-pencil5"></i>
                <span>Terms</span>
              <% end %>
            </li>
            <li class="<%= active?("sent_emails") %>">
              <%= link_to advisors_loan_sent_emails_path(@loan) do %>
                <i class="icon-mail5"></i>
                <span>Email</span>
              <% end %>
            </li>
            <li class="<%= active?("find_lenders") %>">
              <%= link_to new_advisors_loan_find_lender_path(@loan) do %>
                <i class="icon-search4"></i>
                <span>Find Lenders</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
