<%= form_for [:advisors, @loan, @document], authenticity_token: true do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :documentable_type, "Subject" %>
        <%= f.select :documentable_type, DocumentType.categories.keys.map { |key| [key.humanize, key.humanize] }, { prompt: 'Select subject' }, class: "form-control" %>
        <%= form_error(@document, :documentable_type) %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :document_type_id, "Document Type" %>
        <%= f.select :document_type_id, @document_types.collect { |p| [ p.name, p.id ] }, { prompt: 'Select document type' }, class: "form-control" %>
        <%= form_error(@document, :document_type) %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
        <%= form_error(@document, :description) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :attachment %>
        <% if @document.attachment.present? %>
          <p><a href="<%= @document.attachment.expiring_url(60) %>" target="_blank"><%= @document.original_filename %></a></p>
        <% end %>
        <%= f.file_field :attachment %>
        <%= form_error(@document, :attachment) %>
      </div>
    </div>
  </div>

  <div class="form-wizard-actions">
    <%= link_to "Back", advisors_loan_documents_path(@loan), class: "btn btn-default legitRipple" %>
    <button class="btn btn-primary legitRipple" type="submit"><%= @document.id ? "Update" : "Create" %> <i class="icon-arrow-right14 position-right"></i></button>
  </div>
<% end %>
