<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_link @q, :category, "Category" %></th>
      <th><%= sort_link @q, :name, "Name" %></th>
      <th style="text-align: center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @document_types.each do |document_type| %>
      <tr>
        <td><%= document_type.category.titleize %></td>
        <td><%= document_type.name %></td>
        <td style="text-align: center">
          <%= link_to edit_admins_document_type_path(document_type) do %>
            <i class="icon-pencil3"></i>
          <% end %>
          <%= link_to admins_document_type_path(document_type), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="icon-trash-alt color-red"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>