<%= form_tag advisors_loan_find_lenders_path(@loan), authenticity_token: true do |f| %>
  <% if params[:uuid] %>
    <div class="row alert">
      Please wait to find lenders...
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag :address %>
        <%= text_field_tag :address, nil, class: "form-control", value: @loan.property_address %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag :search %>
        <%= text_field_tag :search, nil, class: "form-control", placeholder: "Dollar General" %>
      </div>
    </div>
  </div>

  <div class="form-wizard-actions">
    <button class="btn btn-primary legitRipple" type="submit">Submit<i class="icon-arrow-right14 position-right"></i></button>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12 table-responsive">
    <table id="table-data" style="margin-top: 10px; display: none" class="table table-bordered table-framed">
      <thead>
        <tr>
          <th>Address Input</th>
          <th>Address Search</th>
          <th>Type</th>
          <th>Lender Name</th>
          <th>Lender Address</th>
          <th>Loan Amount</th>
          <th>Mortgage Date</th>
          <th>Mortgage Detail</th>
          <th>Sale Price</th>
          <th>Building Size</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<script>
  // Enable pusher logging - don't include this in production
  // Pusher.logToConsole = true;

  var pusher = new Pusher('97f2ae83aaf1a0fe9324', {
    encrypted: true
  });

  var channel = pusher.subscribe('loop-net-channel');
  channel.bind('crawl-done', function(data) {
    if(data.uuid == "<%= params[:uuid] %>"){
      $(".alert").remove();
      $("#table-data").show();
      for(var row of data.data){
        var content = "<tr>";
        content += "<td>" + (row.address_input == undefined ? "" : row.address_input) + "</td>";
        content += "<td>" + (row.address_search == undefined ? "" : row.address_search) + "</td>";
        content += "<td>" + (row.type == undefined ? "" : row.type) + "</td>";
        content += "<td>" + (row.lender_name == undefined ? "" : row.lender_name) + "</td>";
        content += "<td>" + (row.lender_address == undefined ? "" : row.lender_address) + "</td>";
        content += "<td>" + (row.loan_amount == undefined ? "" : row.loan_amount) + "</td>";
        content += "<td>" + (row.mortgage_date == undefined ? "" : row.mortgage_date) + "</td>";
        content += "<td>" + (row.mortgage_detail == undefined ? "" : row.mortgage_detail) + "</td>";
        content += "<td>" + (row.sale_price == undefined ? "" : row.sale_price) + "</td>";
        content += "<td>" + (row.building_size == undefined ? "" : row.building_size) + "</td>";
        content += "</tr>";
        $("#table-data tbody").append(content);
      }
    }
  });
</script>