<%= form_tag advisors_loan_find_lenders_path(@loan), authenticity_token: true do |f| %>
  <% if params[:uuid] %>
    <div class="row alert">
      Please wait to find lenders...
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag :address %>
        <%= text_field_tag :address, nil, class: "form-control", value: @loan.property_address %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= label_tag :search %>
        <%= text_field_tag :search, nil, class: "form-control", placeholder: "Dollar General" %>
      </div>
    </div>
  </div>

  <div class="form-wizard-actions">
    <button class="btn btn-primary legitRipple" type="submit">Submit<i class="icon-arrow-right14 position-right"></i></button>
  </div>
<% end %>

<% if @results %>
  <% @results.each do |result| %>
    <div class="row">
      <div class="col-md-6"><%= result["name"] %></div>
      <div class="col-md-6"><%= result["formatted_address"] %></div>
    </div>
  <% end %>
<% end %>


<script>
  // Enable pusher logging - don't include this in production
  // Pusher.logToConsole = true;

  var pusher = new Pusher('97f2ae83aaf1a0fe9324', {
    encrypted: true
  });

  var channel = pusher.subscribe('loop-net-channel');
  channel.bind('crawl-done', function(data) {
    if(data.uuid == "<%= params[:uuid] %>"){
      $(".alert").remove();
      alert("Please download file at: " + window.location.hostname + "/output_loop_find_lender_<%= params[:uuid] %>.csv");
    }
  });
</script>