<!-- Page header -->
  <div class="page-header page-header-inverse bg-indigo">
    <!-- Second navbar -->
    <div class="navbar navbar-inverse navbar-transparent" id="navbar-second">
      <ul class="nav navbar-nav visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-paragraph-justify3"></i></a></li>
      </ul>

      <div class="navbar-collapse collapse" id="navbar-second-toggle">
        <ul class="nav navbar-nav navbar-nav-material">
          <li class="<%= active?(admins_document_types_path) %>">
            <%= link_to "Document Types", admins_document_types_path %>
          </li>
          <li class="<%= active?('blog') %>">
            <%= link_to "Blog", admins_blogs_path %>
          </li>
          <li class="<%= active?('referral') %>">
            <%= link_to "Referrals", admins_invited_referrals_path %>
          </li>
          <li class="<%= active?(admins_loan_faqs_path) %>">
            <%= link_to "Loan FAQs", admins_loan_faqs_path %>
          </li>

          <li class="dropdown <%= active?('loan_member') %>">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Loan Member <span class="caret"></span>
            </a>
            <ul class="dropdown-menu width-200">
              <li>
                <%= link_to "Loan Member Titles", admins_loan_member_titles_path %>
              </li>
              <li>
                <%= link_to "Loan Members", admins_loan_members_path %>
              </li>
              <li>
                <%= link_to "Assign Loan Members", admins_assigned_loan_members_path %>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-nav-material navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
              <i class="icon-cog3"></i>
              <span class="visible-xs-inline-block position-right">Settings</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to sessions_logout_path do %><i class="icon-switch2"></i> Logout<% end %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /second navbar -->
  </div>
  <!-- /page header -->