<table class="table table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Headline</th>
      <th>Status</th>
      <th style="text-align: center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.try(:name).try(:titleize) %></td>
        <td><%= quote.headline %></td>
        <td>
          <span class="label <%= quote.open? ? "label-info" : "label-success" %>"><%= quote.status.titleize %></span>
        </td>
        <td style="text-align: center">
          <%= link_to edit_advisors_loan_quote_path(@loan, quote) do %>
            <i class="icon-pencil3"></i>
          <% end %>
          <%= link_to advisors_loan_quote_path(@loan, quote), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="icon-trash-alt color-red"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>